.title-bar {
  background-color: #e35557;
  color: $white;
  &__title {
    line-height: 1;
    font-weight: 700;
    font-size: 3rem;
  }
  &__subtitle {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    font-weight: 400;
  }
}
